In [1]:
import preprocess
import featureprocess
import fileio
import evaluation
import numpy as np
import modelacc
import pandas as pd

In [2]:
dfoff,dftest,dfon = fileio.read_all()

In [3]:

dfoff,dfall,train,valid = preprocess.preprocess(dfoff)

In [ ]:
dfoff = featureprocess.process_features_main(dfoff)

In [ ]:
dfall = featureprocess.process_features_main(dfall)

train = featureprocess.process_features_main(train)
valid = featureprocess.process_features_main(valid)
dftest = featureprocess.process_features_main(valid)

In [3]:
def get_lastfeatures(manjian=True,weekdays=True,distance = True,people=True):
    
    
    lastfeatures = []
    weekdaycols = ['weekday_' + str(i) for i in range(1,8)]

    if manjian:
        lastfeatures = lastfeatures+ ['discount_rate','discount_type','discount_man', 'discount_jian']
    if weekdays:
        lastfeatures = lastfeatures+['weekday', 'weekday_type'] + weekdaycols
    if distance:
        lastfeatures = lastfeatures+['Distance']
    if people:
        lastfeatures = lastfeatures+['只领券', '核销数', '直接买', '单商铺最大购买次数', '成交商家数']
    
    if not len(lastfeatures):
        print('None features')
        return
    
    return lastfeatures

In [4]:
dfoff

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,discount_rate,discount_man,...,weekday_4,weekday_5,weekday_6,weekday_7,用户id,只领券,核销数,直接买,单商铺最大购买次数,成交商家数
0,1439408,2632,NaN,NaN,0,NaN,20160217.0,-1,1.000000,0,...,0,0,0,0,1439408.0,2.0,0.0,0.0,2.0,1.0
1,1439408,4663,11002.0,150:20,1,20160528.0,NaN,0,0.866667,150,...,0,0,1,0,1439408.0,2.0,0.0,0.0,2.0,1.0
2,1439408,2632,8591.0,20:1,0,20160217.0,NaN,0,0.950000,20,...,0,0,0,0,1439408.0,2.0,0.0,0.0,2.0,1.0
3,1439408,2632,1078.0,20:1,0,20160319.0,NaN,0,0.950000,20,...,0,0,1,0,1439408.0,2.0,0.0,0.0,2.0,1.0
4,1439408,2632,8591.0,20:1,0,20160613.0,NaN,0,0.950000,20,...,0,0,0,0,1439408.0,2.0,0.0,0.0,2.0,1.0
5,1439408,2632,NaN,NaN,0,NaN,20160516.0,-1,1.000000,0,...,0,0,0,0,1439408.0,2.0,0.0,0.0,2.0,1.0
6,1439408,2632,8591.0,20:1,0,20160516.0,20160613.0,0,0.950000,20,...,0,0,0,0,1439408.0,2.0,0.0,0.0,2.0,1.0
7,1832624,3381,7610.0,200:20,0,20160429.0,NaN,0,0.900000,200,...,0,1,0,0,1832624.0,1.0,0.0,0.0,1.0,1.0
8,2029232,3381,11951.0,200:20,1,20160129.0,NaN,0,0.900000,200,...,0,1,0,0,2029232.0,1.0,0.0,0.0,1.0,1.0
9,2029232,450,1532.0,30:5,0,20160530.0,NaN,0,0.833333,30,...,0,0,0,0,2029232.0,1.0,0.0,0.0,1.0,1.0
10,2029232,6459,12737.0,20:1,0,20160519.0,NaN,0,0.950000,20,...,1,0,0,0,2029232.0,1.0,0.0,0.0,1.0,1.0
11,2029232,6459,NaN,NaN,0,NaN,20160626.0,-1,1.000000,0,...,0,0,0,0,2029232.0,1.0,0.0,0.0,1.0,1.0
12,2029232,6459,NaN,NaN,0,NaN,20160519.0,-1,1.000000,0,...,0,0,0,0,2029232.0,1.0,0.0,0.0,1.0,1.0
13,2747744,6901,1097.0,50:10,2,20160606.0,NaN,0,0.800000,50,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
14,196342,1579,NaN,NaN,1,NaN,20160606.0,-1,1.000000,0,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
15,196342,1579,10698.0,20:1,1,20160606.0,NaN,0,0.950000,20,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
16,2223968,3381,9776.0,10:5,2,20160129.0,NaN,0,0.500000,10,...,0,1,0,0,2223968.0,1.0,0.0,0.0,1.0,1.0
17,73611,2099,12034.0,100:10,2,20160207.0,NaN,0,0.900000,100,...,0,0,0,1,73611.0,1.0,0.0,0.0,1.0,1.0
18,163606,1569,5054.0,200:30,10,20160421.0,NaN,0,0.850000,200,...,1,0,0,0,163606.0,1.0,0.0,0.0,1.0,1.0
19,3273056,4833,7802.0,200:20,10,20160130.0,NaN,0,0.900000,200,...,0,0,1,0,3273056.0,1.0,0.0,0.0,1.0,1.0
20,94107,3381,7610.0,200:20,2,20160412.0,NaN,0,0.900000,200,...,0,0,0,0,94107.0,1.0,0.0,0.0,1.0,1.0
21,253750,8390,NaN,NaN,0,NaN,20160327.0,-1,1.000000,0,...,0,0,0,0,253750.0,1.0,0.0,0.0,1.0,1.0
22,253750,6901,2366.0,30:5,0,20160518.0,NaN,0,0.833333,30,...,0,0,0,0,253750.0,1.0,0.0,0.0,1.0,1.0
23,253750,8390,7531.0,20:5,0,20160327.0,NaN,0,0.750000,20,...,0,0,0,1,253750.0,1.0,0.0,0.0,1.0,1.0
24,343660,4663,11002.0,150:20,2,20160528.0,NaN,0,0.866667,150,...,0,0,1,0,5054119.0,1.0,0.0,0.0,1.0,1.0
25,376492,1041,13490.0,30:5,2,20160127.0,NaN,0,0.833333,30,...,0,0,0,0,376492.0,1.0,0.0,0.0,1.0,1.0
26,1964720,7884,NaN,NaN,10,NaN,20160115.0,-1,1.000000,0,...,0,0,0,0,1964720.0,1.0,0.0,0.0,1.0,1.0
27,1964720,7884,6704.0,20:1,10,20160215.0,NaN,0,0.950000,20,...,0,0,0,0,1964720.0,1.0,0.0,0.0,1.0,1.0
28,4191584,3051,NaN,NaN,0,NaN,20160519.0,-1,1.000000,0,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
29,4191584,3051,NaN,NaN,0,NaN,20160516.0,-1,1.000000,0,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754854,179830,6284,4567.0,50:10,1,20160124.0,NaN,0,0.800000,50,...,0,0,0,1,179830.0,12.0,0.0,0.0,2.0,10.0
1754855,179830,6284,7379.0,50:10,1,20160124.0,NaN,0,0.800000,50,...,0,0,0,1,179830.0,12.0,0.0,0.0,2.0,10.0
1754856,179830,3710,13056.0,150:10,4,20160124.0,NaN,0,0.933333,150,...,0,0,0,1,179830.0,12.0,0.0,0.0,2.0,10.0
1754857,179830,2099,12034.0,100:10,1,20160124.0,NaN,0,0.900000,100,...,0,0,0,1,179830.0,12.0,0.0,0.0,2.0,10.0
1754858,179830,4660,1480.0,100:10,0,20160125.0,NaN,0,0.900000,100,...,0,0,0,0,179830.0,12.0,0.0,0.0,2.0,10.0
1754859,179830,5341,7751.0,50:10,0,20160123.0,NaN,0,0.800000,50,...,0,0,1,0,179830.0,12.0,0.0,0.0,2.0,10.0
1754860,179830,7555,17.0,30:5,7,20160123.0,NaN,0,0.833333,30,...,0,0,1,0,179830.0,12.0,0.0,0.0,2.0,10.0
1754861,179830,760,3237.0,20:5,0,20160124.0,NaN,0,0.750000,20,...,0,0,0,1,179830.0,12.0,0.0,0.0,2.0,10.0
1754862,179830,2099,12034.0,100:10,1,20160203.0,NaN,0,0.900000,100,...,0,0,0,0,179830.0,12.0,0.0,0.0,2.0,10.0
1754863,343276,4206,NaN,NaN,5,NaN,20160425.0,-1,1.000000,0,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
1754864,653784,195,NaN,NaN,0,NaN,20160418.0,-1,1.000000,0,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
1754865,653784,195,NaN,NaN,0,NaN,20160416.0,-1,1.000000,0,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
1754866,3795296,5341,111.0,30:5,0,20160129.0,NaN,0,0.833333,30,...,0,1,0,0,3795296.0,1.0,0.0,0.0,1.0,1.0
1754867,188086,6568,NaN,NaN,0,NaN,20160415.0,-1,1.000000,0,...,0,0,0,0,188086.0,1.0,0.0,0.0,1.0,1.0
1754868,188086,6568,NaN,NaN,0,NaN,20160626.0,-1,1.000000,0,...,0,0,0,0,188086.0,1.0,0.0,0.0,1.0,1.0
1754869,188086,6568,4723.0,30:1,0,20160415.0,NaN,0,0.966667,30,...,0,1,0,0,188086.0,1.0,0.0,0.0,1.0,1.0
1754870,188086,6568,NaN,NaN,0,NaN,20160417.0,-1,1.000000,0,...,0,0,0,0,188086.0,1.0,0.0,0.0,1.0,1.0
1754871,188086,6568,NaN,NaN,0,NaN,20160604.0,-1,1.000000,0,...,0,0,0,0,188086.0,1.0,0.0,0.0,1.0,1.0
1754872,212662,3532,NaN,NaN,1,NaN,20160308.0,-1,1.000000,0,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754873,212662,2934,5686.0,30:5,2,20160321.0,20160330.0,1,0.833333,30,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754874,212662,2934,NaN,NaN,2,NaN,20160513.0,-1,1.000000,0,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754875,212662,2934,NaN,NaN,2,NaN,20160512.0,-1,1.000000,0,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754876,212662,3532,5267.0,30:5,1,20160322.0,NaN,0,0.833333,30,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754877,212662,3021,3739.0,30:1,6,20160504.0,20160508.0,1,0.966667,30,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754878,212662,2934,5686.0,30:5,2,20160321.0,20160322.0,1,0.833333,30,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754879,212662,3532,NaN,NaN,1,NaN,20160322.0,-1,1.000000,0,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754880,212662,3021,3739.0,30:1,6,20160508.0,20160602.0,0,0.966667,30,...,0,0,0,1,212662.0,2.0,3.0,0.0,2.0,3.0
1754881,212662,2934,NaN,NaN,2,NaN,20160321.0,-1,1.000000,0,...,0,0,0,0,212662.0,2.0,3.0,0.0,2.0,3.0
1754882,752472,7113,1633.0,50:10,6,20160613.0,NaN,0,0.800000,50,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0
1754883,752472,3621,2705.0,20:5,0,20160523.0,NaN,0,0.750000,20,...,0,0,0,0,5054119.0,1.0,0.0,0.0,1.0,1.0

In [5]:
dfoff.User_id

0          1439408
1          1439408
2          1439408
3          1439408
4          1439408
5          1439408
6          1439408
7          1832624
8          2029232
9          2029232
10         2029232
11         2029232
12         2029232
13         2747744
14          196342
15          196342
16         2223968
17           73611
18          163606
19         3273056
20           94107
21          253750
22          253750
23          253750
24          343660
25          376492
26         1964720
27         1964720
28         4191584
29         4191584
            ...
1754854     179830
1754855     179830
1754856     179830
1754857     179830
1754858     179830
1754859     179830
1754860     179830
1754861     179830
1754862     179830
1754863     343276
1754864     653784
1754865     653784
1754866    3795296
1754867     188086
1754868     188086
1754869     188086
1754870     188086
1754871     188086
1754872     212662
1754873     212662
1754874     212662
1754875     212662
1754876     212662
1754877     212662
1754878     212662
1754879     212662
1754880     212662
1754881     212662
1754882     752472
1754883     752472
Name: User_id, Length: 1754884, dtype: int64

# 特征测试

In [4]:
#x_train,y_train,x_test,y_test = preprocess.split_xy(train,valid,columns=get_lastfeatures())
#
#model_name,model_score = modelacc.hodgepodge(modelacc.classifiers,x_train,y_train,x_test,y_test,valid)
#np.mean(model_score)

In [5]:
combine_list = []
def combine(a=None,b=None,combine_list=combine_list):
    
    if a == None:
        a,b = '0','1'
    
    c,d = '0','1'
    
    a1 = a+c
    a2 = a+d
    a3 = b+c
    a4 = b+d
    
    if len(a1) == 4:
        combine_list = combine_list+[a1,a2,a3,a4]
        return combine_list
    
    else:
        combine_list = combine(a1,a2,combine_list)
        combine_list = combine(a3,a4,combine_list)

    return combine_list
    
ll = combine()
combine_list = []
for i in ll:
    combine_list.append([True   if l == '0' else False for l in i  ])

In [6]:
feature_list = ['manjian','weekdays','distance','people']

dfobj = pd.DataFrame(columns = ['均值','最小','最大','标准差'],index = ll)

for l01 in ll:
    i = [True   if l == '1' else False for l in l01  ]
    if not True in i:
        continue
        
    x_train,y_train,x_test,y_test = preprocess.split_xy(train,valid,columns=get_lastfeatures(manjian=i[0],
                                                                                         weekdays=i[1],distance = i[2],people=i[3]))
    model_name,model_score = modelacc.hodgepodge(modelacc.classifiers,x_train,y_train,x_test,y_test,valid)
    
    print([feature_list[leng] for leng in range(0,len(i)) if i[leng] is True ])
    dfobj.loc[l01,:] = [np.mean(model_score),np.max(model_score),np.min(model_score),np.std(model_score)]

Logistic Regression 0.5425822261788051
Decision Tree 0.547515458865813
Random Forest 0.5452302574127559
AdaBoost 0.5467100670013958
Extra Trees 0.5475891342856105
GradientBoosting 0.549399612017644
Bagging 0.5475470364803825
Naive Bayes 0.5431649952862895
LDA 0.5437626455132502
MLP 0.5471313875095236
XGB 0.5472108694401866
['people']
Logistic Regression 0.5509217343920725
Decision Tree 0.5474590751420415
Random Forest 0.547391489761952
AdaBoost 0.5490947353076935
Extra Trees 0.547342308099308
GradientBoosting 0.547342308099308
Bagging 0.547342308099308
Naive Bayes 0.5509217343920725
LDA 0.5509217343920725
MLP 0.5509217343920725
XGB 0.547342308099308
['distance']
Logistic Regression 0.5732154391414557
Decision Tree 0.5475775335697141
Random Forest 0.5731615749420736
AdaBoost 0.5709727649224808
Extra Trees 0.5476966576410341
GradientBoosting 0.5233815730444801
Bagging 0.5476171838418007
Naive Bayes 0.5771750285061441
LDA 0.5739089998729983
MLP 0.5728495665571578
XGB 0.5208123199636281
['distance', 'people']
Logistic Regression 0.5092168699488687
Decision Tree 0.5092168699488687
Random Forest 0.5092168699488687
AdaBoost 0.5092168699488687
Extra Trees 0.5092168699488687
GradientBoosting 0.5092168699488687
Bagging 0.5092168699488687
Naive Bayes 0.5097324599723932
LDA 0.5092168699488687
MLP 0.5187552687744181
XGB 0.5092168699488687
['weekdays']
Logistic Regression 0.5455142039959576
Decision Tree 0.5474707184675587
Random Forest 0.5593602765256066
AdaBoost 0.552801682504313
Extra Trees 0.5461096132875443
GradientBoosting 0.5467828781601508
Bagging 0.5466509237323599
Naive Bayes 0.5420675284755768
LDA 0.5491943845544067
MLP 0.5529661784978243
XGB 0.54950185415274
['weekdays', 'people']
Logistic Regression 0.5519953468689316
Decision Tree 0.5531049743850502
Random Forest 0.5500279619946922
AdaBoost 0.5506164479126633
Extra Trees 0.5522411918369449
GradientBoosting 0.5518370415891249
Bagging 0.5530229723435862
Naive Bayes 0.5380983576495622
LDA 0.5496161435469946
MLP 0.5561903908799043
XGB 0.5522669665161879
['weekdays', 'distance']
Logistic Regression 0.5745329386790683
Decision Tree 0.5475775335697141
Random Forest 0.5699175062353341
AdaBoost 0.5716069327709826
Extra Trees 0.5454830980655596
GradientBoosting 0.5272466491466951
Bagging 0.5460345331469841
Naive Bayes 0.5638532803447232
LDA 0.5736529031920861
MLP 0.5692401852472093
XGB 0.5435492038458184
['weekdays', 'distance', 'people']
Logistic Regression 0.5
Decision Tree 0.5
Random Forest 0.5
AdaBoost 0.5
Extra Trees 0.5
GradientBoosting 0.5
Bagging 0.5
Naive Bayes 0.5
LDA 0.5
MLP 0.5
XGB 0.5
['manjian']
Logistic Regression 0.5423520868488879
Decision Tree 0.5477770328892095
Random Forest 0.548512734527396
AdaBoost 0.5468944235678804
Extra Trees 0.5473787163261833
GradientBoosting 0.5486222503298903
Bagging 0.547191433324016
Naive Bayes 0.5431704299181491
LDA 0.5433534966274192
MLP 0.54703977297559
XGB 0.5447938161421266
['manjian', 'people']
Logistic Regression 0.5509217343920725
Decision Tree 0.5431328355772956
Random Forest 0.5482585367593051
AdaBoost 0.5491010447114575
Extra Trees 0.5469774857381037
GradientBoosting 0.5483852174038453
Bagging 0.547549852765533
Naive Bayes 0.5509217343920725
LDA 0.5509217343920725
MLP 0.5509217343920725
XGB 0.5473798366062972
['manjian', 'distance']
Logistic Regression 0.5726468375800542
Decision Tree 0.5479067773157114
Random Forest 0.5676232214631142
AdaBoost 0.5708269530972266
Extra Trees 0.5464910287157994
GradientBoosting 0.5283035079768195
Bagging 0.5476207778487304
Naive Bayes 0.5771670323587681
LDA 0.5734109116633153
MLP 0.5724694471312065
XGB 0.5487817001577387
['manjian', 'distance', 'people']
Logistic Regression 0.5014928939816987
Decision Tree 0.4959299145219549
Random Forest 0.5044537253602728
AdaBoost 0.49731780781078694
Extra Trees 0.5051395214097102
GradientBoosting 0.5022843258094736
Bagging 0.5045356299537476
Naive Bayes 0.5097324599723932
LDA 0.5014928939816987
MLP 0.5187160996139961
XGB 0.5049830253045933
['manjian', 'weekdays']
Logistic Regression 0.5411879561707119
Decision Tree 0.5477770328892095
Random Forest 0.5522492213835117
AdaBoost 0.5430365846784407
Extra Trees 0.5449582806897934
GradientBoosting 0.5534344831897813
Bagging 0.546375984805211
Naive Bayes 0.5420498641329896
LDA 0.5426667146124337
MLP 0.549296842657376
XGB 0.5483492380140399
['manjian', 'weekdays', 'people']
Logistic Regression 0.5500464126067275
Decision Tree 0.5453313148287965
Random Forest 0.5524588383922711
AdaBoost 0.5486942149189641
Extra Trees 0.5379653427200367
GradientBoosting 0.5492657490971025
Bagging 0.5391833305740912
Naive Bayes 0.5380983576495622
LDA 0.5456225536619072
MLP 0.5551366166776308
XGB 0.543812712993801
['manjian', 'weekdays', 'distance']
Logistic Regression 0.5712591290787444
Decision Tree 0.5479067773157114
Random Forest 0.5764427029268524
AdaBoost 0.5694370892787454
Extra Trees 0.5420572619473171
GradientBoosting 0.5350407629651933
Bagging 0.5453209732607325
Naive Bayes 0.5639029019386573
LDA 0.5697134025035804
MLP 0.5756245842618511
XGB 0.5477947489652829
['manjian', 'weekdays', 'distance', 'people']

In [8]:
dfobj.sort_values('均值')

            均值        最小        最大         标准差
1000       0.5       0.5       0.5           0
1100  0.504189  0.518716   0.49593  0.00585493
0100  0.510131  0.518755  0.509217  0.00273126
1110  0.545965  0.555137  0.537965  0.00554577
1001  0.546099  0.548622  0.542352  0.00215775
0001  0.546168    0.5494  0.542582  0.00206773
1101  0.546489  0.553434  0.541188   0.0039441
1010  0.548588  0.550922  0.543133  0.00227812
0010  0.548818  0.550922  0.547342  0.00166164
0101  0.548947   0.55936  0.542068  0.00446313
0110   0.55082   0.55619  0.538098   0.0043631
0011  0.557124  0.577175  0.520812   0.0199237
0111  0.557518  0.574533  0.527247   0.0152752
1111  0.558591  0.576443  0.535041   0.0143769
1011  0.559386  0.577167  0.528304   0.0152961
0000       NaN       NaN       NaN         NaN

In [ ]:
dfobj