# 初步的构思

1、线上数据集

注意618的影响  
领取优惠券的时间接近周末？    
领取消费券的时间接近？    
领取优惠券的对应商家距离近？  
领取优惠券的力度大？（门槛低，金额高）  
领取优惠券的时间越近消费的概率越高？  
领取消费券的时间，靠近放假时间？  
领取优惠券越多，核销的概率越大？  
不同折扣，不同优惠方式 ，哪种核销概率高？
领取到核销的时间特征  
领券时间和用券消费的时间间隔有什么特征，为什么预测的是“15天”

人本身消费属性？（RFM，结合线上数据来定义消费者属性）  
人和固定商家有消费关系？(喜欢这个商家)  
线下偏好、线上偏好  
被营销偏好  
优惠券id,不同人，有一样的吗？

商家，虽然线上下编号无法对应，但是各自是否有规律  
商品本身费用高？  
商品本身消费的人群就少？  
商家品质不咋地，或者本身不善于这种营销？（过往成绩就不好）  


线上优惠券消费，和线下优惠券核销，可能不是一种消费习惯，需要鉴别  
领优惠券的特征，有哪些与核销相关？

In [1]:
import sys 
sys.path.append('./app/')
import fileio
import preprocess
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 读取数据
dfoff ,dftest,dfon = fileio.read_all('./data/')

# 特征处理
dfoff = preprocess.get_label(dfoff)
dfoff = preprocess.process_manjian(dfoff)


#暂时用不上的
# dfoff,weekdaycols = preprocess.process_Weekday(dfoff)

# td = pd.to_datetime(dfoff['Date'], format='%Y%m%d') -  pd.to_datetime(dfoff['Date_received'], format='%Y%m%d')
# dfoff.loc[:,'核销时间差'] = [i.days for i in td]

In [3]:
dfoff.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,discount_rate,discount_man,discount_jian,discount_type
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0,-1,1.000000,0,0,NaN
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN,0,0.866667,150,20,1.0
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,0,0.950000,20,1,1.0
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,0,0.950000,20,1,1.0
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN,0,0.950000,20,1,1.0

In [4]:
dfoff_lab_n = dfoff[dfoff.label<0]# 未领券
dfoff_lab_01 = dfoff[dfoff.label>=0]#领券
dfoff_lab_1 = dfoff[dfoff.label==1]#核销
dfoff_lab_0 = dfoff[dfoff.label==0]#领券不用

# 核销了的优惠券有哪些特征呢

In [5]:
# dfoff_lab_1.核销时间差.value_counts().sort_index()
print('领券后一天核销数最高，然后指数递减')

领券后一天核销数最高，然后指数递减

# 1 user_id
人的消费属性（领券次数，核销次数，核销率，满减特征，商店特征，领券特征，）

In [6]:
# 有核销的人，他们各核销了多少张券
list_1 = dfoff_lab_1.User_id.value_counts()
list_1.head()

2751537    118
6641735    113
6929894     93
2839484     71
501441      69
Name: User_id, dtype: int64

In [7]:
user_off_list = dfoff.User_id.unique()

## 1.1 001是核销最多的用户
领过券的商户数量只有两家,一家只领取过一次。也许 用户-商家，融合后再做特征会好一些，(某些用户会偏爱某个商家)  
唯一没有核销的，距离为4  
领券日期，比较平均
做了新特征【领券未用 	核销数 	未领直接买 	领券数】【是否有核销行为】

### 1.1.1领券核销数量以及被核销商家
做了新特征【领券未用 	核销数 	未领直接买 	领券数】，可以进一步组合

In [10]:
def user_label_count(userid):
    lcdict = {0:0,1:0,-1:0}
    df001 = dfoff[dfoff.User_id==userid]
    dflabelcount = df001.label.value_counts()
    for i in dflabelcount.index:
        lcdict[i] = dflabelcount[i]
        
    dftest = pd.DataFrame.from_dict(lcdict,orient='index').T
    dftest.columns = (['领券未用','核销数','未领直接买'])
    dftest.loc[0,'领券数'] = dftest.loc[0,['领券未用','核销数']].sum()
    
    return dftest

In [11]:
def user_merchant_count(userid):
    df001 = dfoff[dfoff.User_id==userid]
    dfMerchantcount = df001.Merchant_id.value_counts()
    mermode = dfMerchantcount.max()
    mernum = dfMerchantcount.count()
    return dfMerchantcount,mermode,mernum

In [ ]:
df001 = dfoff[dfoff.User_id==list_1.index[1]]
df002 = dfoff[dfoff.User_id==list_1.index[1]]

In [155]:
n=0
ll = []
for i in list_1.index:
    if n%1000 == 0 :
        print(n)
    a = user_label_count(i)
    _,b,c = user_merchant_count(i)
    a.loc[:,'核销店铺数'] = c
    a.loc[:,'单店铺最大消费数量'] = b
    ll.append(a)
    n=n+1

    #print("="*10,'\n',a)
dftest = pd.concat(ll)

0

KeyboardInterrupt:

In [ ]:
# 做userid的特征

In [95]:
dftest.核销店铺数.value_counts()

1.0     32
2.0     26
3.0     22
4.0      7
6.0      3
7.0      3
5.0      2
11.0     2
13.0     1
14.0     1
8.0      1
Name: 核销店铺数, dtype: int64

In [100]:
dftest

    领券未用  核销数  未领直接买    领券数  核销店铺数  单店铺最大消费数量
0      1  118     36  119.0    2.0      154.0
0      7  113     12  120.0    3.0      127.0
0      2   93      7   95.0    1.0      102.0
0     12   71     27   83.0   11.0       94.0
0      4   69     40   73.0    1.0      113.0
0      0   56      4   56.0    1.0       60.0
0      3   54     54   57.0    2.0       73.0
0      7   41      0   48.0    3.0       46.0
0      4   40     17   44.0    2.0       60.0
0      3   38     17   41.0    2.0       57.0
0      9   38     11   47.0    8.0       50.0
0      0   36     33   36.0    1.0       69.0
0      0   35      8   35.0    1.0       43.0
0      6   34     25   40.0    7.0       51.0
0     11   33     26   44.0    1.0       70.0
0      4   33     90   37.0    4.0       82.0
0      1   32     34   33.0    1.0       67.0
0     39   31      9   70.0    1.0       79.0
0      9   29     33   38.0    4.0       46.0
0      3   29      0   32.0    2.0       31.0
0      8   28     10   36.0    3.0       43.0
0      0   27      5   27.0    1.0       32.0
0     69   27    168   96.0    7.0      138.0
0      1   27      7   28.0    3.0       32.0
0      7   27     32   34.0    3.0       64.0
0      0   27      0   27.0    1.0       27.0
0      7   27     23   34.0    3.0       51.0
0      1   26     45   27.0    1.0       72.0
0      1   26     10   27.0    2.0       36.0
0      4   26     60   30.0    4.0       84.0
..   ...  ...    ...    ...    ...        ...
0      6    5      8   11.0    5.0       10.0
0      3    5      0    8.0    1.0        8.0
0      6    5      5   11.0    8.0        6.0
0      5    5     35   10.0    6.0       26.0
0      1    5      3    6.0    2.0        5.0
0      5    5      7   10.0    5.0       12.0
0      6    5      7   11.0    5.0        8.0
0      2    5      2    7.0    4.0        4.0
0      1    5     15    6.0    2.0       20.0
0      2    5     10    7.0    3.0        8.0
0      2    5     10    7.0    1.0       17.0
0      3    5      7    8.0    4.0       12.0
0     12    5     19   17.0    1.0       36.0
0      5    5      8   10.0    5.0       11.0
0      2    5     32    7.0    2.0       37.0
0      2    5      3    7.0    1.0       10.0
0      2    5     25    7.0    2.0       27.0
0      6    5      5   11.0    1.0       16.0
0      2    5      0    7.0    4.0        4.0
0      4    5     46    9.0    3.0       51.0
0      8    5      0   13.0    5.0        5.0
0      6    5     21   11.0    4.0       15.0
0      4    5      0    9.0    2.0        7.0
0      0    5      3    5.0    1.0        8.0
0      6    5      4   11.0    3.0       12.0
0      3    5     67    8.0    3.0       39.0
0      0    5     21    5.0    1.0       26.0
0      5    5      0   10.0    1.0       10.0
0      8    5      9   13.0    3.0       19.0
0      2    5     21    7.0    6.0       10.0

[1000 rows x 6 columns]

In [12]:
user_off_list = dfoff.User_id.unique()
print(len(user_off_list))

539438

In [149]:
n = 0
ll = []
for uid in  user_off_list:
    if n%1000==0:
        print(n)
    ll.append(user_features(uid))
    n = n+1

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000

KeyboardInterrupt:

In [150]:
pd.DataFrame(ll)

              0   1  2   3   4   5
0       1439408   5  0   2   6   2
1       1832624   1  0   0   1   1
2       2029232   3  0   2   3   3
3       2747744   1  0   0   1   1
4        196342   1  0   1   2   1
5       2223968   1  0   0   1   1
6         73611   1  0   0   1   1
7        163606   1  0   0   1   1
8       3273056   1  0   0   1   1
9         94107   1  0   0   1   1
10       253750   2  0   1   2   2
11       343660   1  0   0   1   1
12       376492   1  0   0   1   1
13      1964720   1  0   1   2   1
14      4191584   0  0   2   2   1
15      1113008   4  1   2   3   4
16      2881376   2  1   1   2   2
17      4061024   4  0   1   2   4
18      7073472   4  0   1   3   3
19       106443   2  0   0   1   2
20       442156   1  0   0   1   1
21       622296   1  0   2   3   1
22      4717248   1  0   0   1   1
23      2621792   1  0   0   1   1
24      7340736   0  0   1   1   1
25       262252   2  0   0   1   2
26      4064096   1  0   1   2   1
27       114747  17  4  19  18  12
28       245878   1  0   0   1   1
29      3409760   7  0   0   2   6
...         ...  .. ..  ..  ..  ..
118620  3893241   1  0   0   1   1
118621  3369465   1  0   0   1   1
118622  5954546   1  0   0   1   1
118623  5171186   3  0   2   5   1
118624  2192889   1  0   0   1   1
118625  2194425   1  0  24  23   2
118626  2980857   1  0   0   1   1
118627  4916210   2  0   0   1   2
118628  3638265   2  0   1   3   1
118629  5705714   1  0   0   1   1
118630  3639801   1  0   0   1   1
118631  4658162   2  0   0   1   2
118632  3378681   1  0   1   2   1
118633  4661234   1  0   1   2   1
118634  3380217   4  0   0   2   2
118635  4036089   1  0   0   1   1
118636  3905529   2  0   1   3   1
118637  6762482   1  0   0   1   1
118638  2728953   2  0   9  11   1
118639  3515385   1  0   0   1   1
118640  7293938   1  0   0   1   1
118641  2467833   1  0   0   1   1
118642  7032818   2  0   0   1   2
118643  7297010   6  3   7  14   3
118644  2338809   1  0   0   1   1
118645  5727218   1  0   1   2   1
118646  2470905   1  0   0   1   1
118647  2340345   1  0   0   1   1
118648  3126777   3  0   5   8   1
118649  4682738   1  0   0   1   1

[118650 rows x 6 columns]

In [18]:
def user_features(uid):
    """返回userid，只领券，核销数，直接买，单商铺最大购买次数，成交商家数"""
    lcdict = {0:0,1:0,-1:0}
    df001 = dfoff[dfoff.User_id==uid]
    
    dflabelcount = df001.label.value_counts()
    dfMerchantcount = df001.Merchant_id.value_counts()
    for i in dflabelcount.index:
        lcdict[i] = dflabelcount[i]
    
    return uid,lcdict[0],lcdict[1],lcdict[-1],dfMerchantcount.max(),dfMerchantcount.count()

In [144]:
【购买（直接买，领券买），不购买（只领券）】

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,discount_rate,discount_man,discount_jian,discount_type,核销时间差
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0,-1,1.000000,0,0,NaN,NaN
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN,0,0.866667,150,20,1.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN,0,0.950000,20,1,1.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN,0,0.950000,20,1,1.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN,0,0.950000,20,1,1.0,NaN
5,1439408,2632,NaN,NaN,0.0,NaN,20160516.0,-1,1.000000,0,0,NaN,NaN
6,1439408,2632,8591.0,20:1,0.0,20160516.0,20160613.0,0,0.950000,20,1,1.0,28.0
7,1832624,3381,7610.0,200:20,0.0,20160429.0,NaN,0,0.900000,200,20,1.0,NaN
8,2029232,3381,11951.0,200:20,1.0,20160129.0,NaN,0,0.900000,200,20,1.0,NaN
9,2029232,450,1532.0,30:5,0.0,20160530.0,NaN,0,0.833333,30,5,1.0,NaN
10,2029232,6459,12737.0,20:1,0.0,20160519.0,NaN,0,0.950000,20,1,1.0,NaN
11,2029232,6459,NaN,NaN,0.0,NaN,20160626.0,-1,1.000000,0,0,NaN,NaN
12,2029232,6459,NaN,NaN,0.0,NaN,20160519.0,-1,1.000000,0,0,NaN,NaN
13,2747744,6901,1097.0,50:10,NaN,20160606.0,NaN,0,0.800000,50,10,1.0,NaN
14,196342,1579,NaN,NaN,1.0,NaN,20160606.0,-1,1.000000,0,0,NaN,NaN
15,196342,1579,10698.0,20:1,1.0,20160606.0,NaN,0,0.950000,20,1,1.0,NaN
16,2223968,3381,9776.0,10:5,2.0,20160129.0,NaN,0,0.500000,10,5,1.0,NaN
17,73611,2099,12034.0,100:10,NaN,20160207.0,NaN,0,0.900000,100,10,1.0,NaN
18,163606,1569,5054.0,200:30,10.0,20160421.0,NaN,0,0.850000,200,30,1.0,NaN
19,3273056,4833,7802.0,200:20,10.0,20160130.0,NaN,0,0.900000,200,20,1.0,NaN
20,94107,3381,7610.0,200:20,2.0,20160412.0,NaN,0,0.900000,200,20,1.0,NaN
21,253750,8390,NaN,NaN,0.0,NaN,20160327.0,-1,1.000000,0,0,NaN,NaN
22,253750,6901,2366.0,30:5,0.0,20160518.0,NaN,0,0.833333,30,5,1.0,NaN
23,253750,8390,7531.0,20:5,0.0,20160327.0,NaN,0,0.750000,20,5,1.0,NaN
24,343660,4663,11002.0,150:20,NaN,20160528.0,NaN,0,0.866667,150,20,1.0,NaN
25,376492,1041,13490.0,30:5,2.0,20160127.0,NaN,0,0.833333,30,5,1.0,NaN
26,1964720,7884,NaN,NaN,10.0,NaN,20160115.0,-1,1.000000,0,0,NaN,NaN
27,1964720,7884,6704.0,20:1,10.0,20160215.0,NaN,0,0.950000,20,1,1.0,NaN
28,4191584,3051,NaN,NaN,0.0,NaN,20160519.0,-1,1.000000,0,0,NaN,NaN
29,4191584,3051,NaN,NaN,0.0,NaN,20160516.0,-1,1.000000,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754854,179830,6284,4567.0,50:10,1.0,20160124.0,NaN,0,0.800000,50,10,1.0,NaN
1754855,179830,6284,7379.0,50:10,1.0,20160124.0,NaN,0,0.800000,50,10,1.0,NaN
1754856,179830,3710,13056.0,150:10,4.0,20160124.0,NaN,0,0.933333,150,10,1.0,NaN
1754857,179830,2099,12034.0,100:10,1.0,20160124.0,NaN,0,0.900000,100,10,1.0,NaN
1754858,179830,4660,1480.0,100:10,0.0,20160125.0,NaN,0,0.900000,100,10,1.0,NaN
1754859,179830,5341,7751.0,50:10,0.0,20160123.0,NaN,0,0.800000,50,10,1.0,NaN
1754860,179830,7555,17.0,30:5,7.0,20160123.0,NaN,0,0.833333,30,5,1.0,NaN
1754861,179830,760,3237.0,20:5,0.0,20160124.0,NaN,0,0.750000,20,5,1.0,NaN
1754862,179830,2099,12034.0,100:10,1.0,20160203.0,NaN,0,0.900000,100,10,1.0,NaN
1754863,343276,4206,NaN,NaN,5.0,NaN,20160425.0,-1,1.000000,0,0,NaN,NaN
1754864,653784,195,NaN,NaN,0.0,NaN,20160418.0,-1,1.000000,0,0,NaN,NaN
1754865,653784,195,NaN,NaN,0.0,NaN,20160416.0,-1,1.000000,0,0,NaN,NaN
1754866,3795296,5341,111.0,30:5,0.0,20160129.0,NaN,0,0.833333,30,5,1.0,NaN
1754867,188086,6568,NaN,NaN,0.0,NaN,20160415.0,-1,1.000000,0,0,NaN,NaN
1754868,188086,6568,NaN,NaN,0.0,NaN,20160626.0,-1,1.000000,0,0,NaN,NaN
1754869,188086,6568,4723.0,30:1,0.0,20160415.0,NaN,0,0.966667,30,1,1.0,NaN
1754870,188086,6568,NaN,NaN,0.0,NaN,20160417.0,-1,1.000000,0,0,NaN,NaN
1754871,188086,6568,NaN,NaN,0.0,NaN,20160604.0,-1,1.000000,0,0,NaN,NaN
1754872,212662,3532,NaN,NaN,1.0,NaN,20160308.0,-1,1.000000,0,0,NaN,NaN
1754873,212662,2934,5686.0,30:5,2.0,20160321.0,20160330.0,1,0.833333,30,5,1.0,9.0
1754874,212662,2934,NaN,NaN,2.0,NaN,20160513.0,-1,1.000000,0,0,NaN,NaN
1754875,212662,2934,NaN,NaN,2.0,NaN,20160512.0,-1,1.000000,0,0,NaN,NaN
1754876,212662,3532,5267.0,30:5,1.0,20160322.0,NaN,0,0.833333,30,5,1.0,NaN
1754877,212662,3021,3739.0,30:1,6.0,20160504.0,20160508.0,1,0.966667,30,1,1.0,4.0
1754878,212662,2934,5686.0,30:5,2.0,20160321.0,20160322.0,1,0.833333,30,5,1.0,1.0
1754879,212662,3532,NaN,NaN,1.0,NaN,20160322.0,-1,1.000000,0,0,NaN,NaN
1754880,212662,3021,3739.0,30:1,6.0,20160508.0,20160602.0,0,0.966667,30,1,1.0,25.0
1754881,212662,2934,NaN,NaN,2.0,NaN,20160321.0,-1,1.000000,0,0,NaN,NaN
1754882,752472,7113,1633.0,50:10,6.0,20160613.0,NaN,0,0.800000,50,10,1.0,NaN
1754883,752472,3621,2705.0,20:5,0.0,20160523.0,NaN,0,0.750000,20,5,1.0,NaN

In [135]:
pd.DataFrame([[0,1,2,3,],[0,2,3,4]])

   0  1  2  3
0  0  1  2  3
1  0  2  3  4

In [ ]:
def user_merchant_count(userid):
    df001 = dfoff[dfoff.User_id==userid]
    dfMerchantcount = df001.Merchant_id.value_counts()
    mermode = dfMerchantcount.max()
    mernum = dfMerchantcount.count()
    return dfMerchantcount,mermode,mernum

In [ ]:
def user_label_count(userid):
    lcdict = {0:0,1:0,-1:0}
    df001 = dfoff[dfoff.User_id==userid]
    dflabelcount = df001.label.value_counts()
    for i in dflabelcount.index:
        lcdict[i] = dflabelcount[i]
        
    dftest = pd.DataFrame.from_dict(lcdict,orient='index').T
    dftest.columns = (['领券未用','核销数','未领直接买'])
    dftest.loc[0,'领券数'] = dftest.loc[0,['领券未用','核销数']].sum()
    
    return dftest

### 1.1.2 满减特征
001没发现啥规律  
不过，核销和总体的满减分布确实不一样

In [24]:
df001.discount_man.value_counts()

30     109
0       40
20       4
200      1
10       1
Name: discount_man, dtype: int64

In [25]:
dfoff.discount_man.value_counts().sort_index()

0      734874
5        2526
10      43767
20     143232
30     301082
50      87397
100    242411
150     23729
200    146602
300     29264
Name: discount_man, dtype: int64

In [26]:
dfoff_lab_1.discount_man.value_counts().sort_index()

0       3852
5        563
10      6343
20     18804
30     22731
50      4217
100     5755
150      343
200     1504
300      283
Name: discount_man, dtype: int64

### 1.1.3 领券日期以及核销日期
较为平均

In [27]:
df001.Date_received.value_counts().sort_index()

20160125.0    1
20160229.0    1
20160301.0    1
20160322.0    3
20160325.0    2
20160326.0    1
20160422.0    2
20160424.0    3
20160425.0    3
20160426.0    1
20160427.0    3
20160428.0    4
20160430.0    4
20160501.0    5
20160503.0    2
20160506.0    5
20160507.0    1
20160509.0    4
20160510.0    6
20160512.0    6
20160513.0    4
20160515.0    4
20160516.0    3
20160518.0    5
20160519.0    4
20160521.0    2
20160522.0    2
20160524.0    2
20160525.0    4
20160527.0    5
20160528.0    4
20160530.0    1
20160531.0    3
20160602.0    4
20160603.0    3
20160605.0    1
20160606.0    1
20160614.0    6
20160615.0    3
Name: Date_received, dtype: int64

In [28]:
df001

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date,label,discount_rate,discount_man,discount_jian,discount_type,核销时间差
400243,2751537,7910,NaN,NaN,0.0,NaN,20160403.0,-1,1.000000,0,0,NaN,NaN
400244,2751537,7910,NaN,NaN,0.0,NaN,20160406.0,-1,1.000000,0,0,NaN,NaN
400245,2751537,7910,NaN,NaN,0.0,NaN,20160331.0,-1,1.000000,0,0,NaN,NaN
400246,2751537,7910,11637.0,30:5,0.0,20160424.0,20160424.0,1,0.833333,30,5,1.0,0.0
400247,2751537,7910,9117.0,20:5,0.0,20160325.0,20160328.0,1,0.750000,20,5,1.0,3.0
400248,2751537,7910,9117.0,20:5,0.0,20160325.0,20160328.0,1,0.750000,20,5,1.0,3.0
400249,2751537,7910,11637.0,30:5,0.0,20160424.0,20160424.0,1,0.833333,30,5,1.0,0.0
400250,2751537,7910,11637.0,30:5,0.0,20160422.0,20160424.0,1,0.833333,30,5,1.0,2.0
400251,2751537,7910,11637.0,30:5,0.0,20160427.0,20160427.0,1,0.833333,30,5,1.0,0.0
400252,2751537,7910,11637.0,30:5,0.0,20160427.0,20160427.0,1,0.833333,30,5,1.0,0.0
400253,2751537,7910,11637.0,30:5,0.0,20160428.0,20160430.0,1,0.833333,30,5,1.0,2.0
400254,2751537,3381,12821.0,200:20,4.0,20160125.0,NaN,0,0.900000,200,20,1.0,NaN
400255,2751537,7910,11637.0,30:5,0.0,20160430.0,20160430.0,1,0.833333,30,5,1.0,0.0
400256,2751537,7910,11637.0,30:5,0.0,20160430.0,20160430.0,1,0.833333,30,5,1.0,0.0
400257,2751537,7910,11637.0,30:5,0.0,20160428.0,20160430.0,1,0.833333,30,5,1.0,2.0
400258,2751537,7910,12373.0,0.95,0.0,20160229.0,20160301.0,1,0.950000,0,0,0.0,1.0
400259,2751537,7910,NaN,NaN,0.0,NaN,20160325.0,-1,1.000000,0,0,NaN,NaN
400260,2751537,7910,12373.0,0.95,0.0,20160301.0,20160301.0,1,0.950000,0,0,0.0,0.0
400261,2751537,7910,12373.0,0.95,0.0,20160322.0,20160322.0,1,0.950000,0,0,0.0,0.0
400262,2751537,7910,NaN,NaN,0.0,NaN,20160307.0,-1,1.000000,0,0,NaN,NaN
400263,2751537,7910,NaN,NaN,0.0,NaN,20160310.0,-1,1.000000,0,0,NaN,NaN
400264,2751537,7910,NaN,NaN,0.0,NaN,20160319.0,-1,1.000000,0,0,NaN,NaN
400265,2751537,7910,11637.0,30:5,0.0,20160519.0,20160521.0,1,0.833333,30,5,1.0,2.0
400266,2751537,7910,11637.0,30:5,0.0,20160513.0,20160515.0,1,0.833333,30,5,1.0,2.0
400267,2751537,7910,3147.0,30:5,0.0,20160602.0,20160602.0,1,0.833333,30,5,1.0,0.0
400268,2751537,7910,11637.0,30:5,0.0,20160509.0,20160509.0,1,0.833333,30,5,1.0,0.0
400269,2751537,7910,NaN,NaN,0.0,NaN,20160104.0,-1,1.000000,0,0,NaN,NaN
400270,2751537,7910,NaN,NaN,0.0,NaN,20160107.0,-1,1.000000,0,0,NaN,NaN
400271,2751537,7910,NaN,NaN,0.0,NaN,20160110.0,-1,1.000000,0,0,NaN,NaN
400272,2751537,7910,NaN,NaN,0.0,NaN,20160113.0,-1,1.000000,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
400368,2751537,7910,11637.0,30:5,0.0,20160503.0,20160506.0,1,0.833333,30,5,1.0,3.0
400369,2751537,7910,NaN,NaN,0.0,NaN,20160623.0,-1,1.000000,0,0,NaN,NaN
400370,2751537,7910,2449.0,30:5,0.0,20160615.0,20160617.0,1,0.833333,30,5,1.0,2.0
400371,2751537,7910,11637.0,30:5,0.0,20160512.0,20160512.0,1,0.833333,30,5,1.0,0.0
400372,2751537,7910,3147.0,30:5,0.0,20160521.0,20160521.0,1,0.833333,30,5,1.0,0.0
400373,2751537,7910,11637.0,30:5,0.0,20160516.0,20160518.0,1,0.833333,30,5,1.0,2.0
400374,2751537,7910,2449.0,30:5,0.0,20160614.0,20160614.0,1,0.833333,30,5,1.0,0.0
400375,2751537,7910,2449.0,30:5,0.0,20160614.0,20160614.0,1,0.833333,30,5,1.0,0.0
400376,2751537,7910,11637.0,30:5,0.0,20160510.0,20160512.0,1,0.833333,30,5,1.0,2.0
400377,2751537,7910,11637.0,30:5,0.0,20160518.0,20160518.0,1,0.833333,30,5,1.0,0.0
400378,2751537,7910,2449.0,30:5,0.0,20160614.0,20160614.0,1,0.833333,30,5,1.0,0.0
400379,2751537,7910,11685.0,10:5,0.0,20160606.0,20160608.0,1,0.500000,10,5,1.0,2.0
400380,2751537,7910,10956.0,30:5,0.0,20160522.0,20160524.0,1,0.833333,30,5,1.0,2.0
400381,2751537,7910,11637.0,30:5,0.0,20160518.0,20160518.0,1,0.833333,30,5,1.0,0.0
400382,2751537,7910,3147.0,30:5,0.0,20160603.0,20160605.0,1,0.833333,30,5,1.0,2.0
400383,2751537,7910,3147.0,30:5,0.0,20160602.0,20160602.0,1,0.833333,30,5,1.0,0.0
400384,2751537,7910,3147.0,30:5,0.0,20160602.0,20160602.0,1,0.833333,30,5,1.0,0.0
400385,2751537,7910,11637.0,30:5,0.0,20160518.0,20160518.0,1,0.833333,30,5,1.0,0.0
400386,2751537,7910,11637.0,30:5,0.0,20160509.0,20160509.0,1,0.833333,30,5,1.0,0.0
400387,2751537,7910,11637.0,30:5,0.0,20160512.0,20160512.0,1,0.833333,30,5,1.0,0.0
400388,2751537,7910,11637.0,30:5,0.0,20160512.0,20160512.0,1,0.833333,30,5,1.0,0.0
400389,2751537,7910,3147.0,30:5,0.0,20160527.0,20160527.0,1,0.833333,30,5,1.0,0.0
400390,2751537,7910,11637.0,30:5,0.0,20160510.0,20160512.0,1,0.833333,30,5,1.0,2.0
400391,2751537,7910,11637.0,30:5,0.0,20160515.0,20160515.0,1,0.833333,30,5,1.0,0.0
400392,2751537,7910,11637.0,30:5,0.0,20160512.0,20160512.0,1,0.833333,30,5,1.0,0.0
400393,2751537,7910,11637.0,30:5,0.0,20160513.0,20160515.0,1,0.833333,30,5,1.0,2.0
400394,2751537,7910,3147.0,30:5,0.0,20160527.0,20160527.0,1,0.833333,30,5,1.0,0.0
400395,2751537,7910,NaN,NaN,0.0,NaN,20160620.0,-1,1.000000,0,0,NaN,NaN
400396,2751537,7910,11637.0,30:5,0.0,20160515.0,20160515.0,1,0.833333,30,5,1.0,0.0
400397,2751537,7910,NaN,NaN,0.0,NaN,20160313.0,-1,1.000000,0,0,NaN,NaN

In [33]:
user_label_count(list_1.index[1])

   领券未用  核销数  未领直接买    领券数
0     7  113     12  120.0